@charset "UTF-8";
/* CSS Document */
#nav-wrapper .bn-more span
{
	display: inline;
	display: inline-block;
	vertical-align: baseline;
	zoom: 1;
}
#nav-wrapper .more-active
{
	position: relative;
	z-index: 10;
}
#nav-wrapper .more-active .bn-more:link,#nav-wrapper .more-active .bn-more:visited
{
	color: #fff;
}
#nav-wrapper .more-active a:link,#nav-wrapper .more-active a:visited
{
	color: #369;
}
#nav-wrapper .more-active .more-items table,
#nav-wrapper .more-active .more-items td
{
	border-collapse: collapse;
	white-space: nowrap;
	width: 100%;
}
#nav-wrapper .more-active .more-items li
{
	display: block;
}
#nav-wrapper .more-active .more-items a
{
	display: block;
	line-height: 28px;
	padding: 0 20px;
}
#nav-wrapper .more-active .more-items a:hover
{
	background-color: #f6f6f6;
	color: #3d3d3d;
}
#nav-wrapper .more-items
{
	display: none;
	left: 0;
	position: absolute;
}

#nav-wrapper a:active, #nav-wrapper a:hover
{
	background-color: transparent;
	color: #fff;
}
#nav-wrapper .top-nav-info
{
	float: right;
	line-height: 28px;
	margin: 0 12px 0 0;
}
#nav-wrapper .top-nav-info li,#nav-wrapper .top-nav-info ul
{
	display: inline;
	display: inline-block;
	zoom: 1;
}
#nav-wrapper .top-nav-info a
{
	display: inline;
	display: inline-block;
	height: 28px;
	margin: 0;
	padding: 0 12px;
	zoom: 1;
}
#nav-wrapper .nav-user-account .more-items
{
	left: auto;
	right: 6px;
}
#nav-wrapper .more-active .lnk-remind:active,#nav-wrapper .more-active .lnk-remind:hover,#nav-wrapper .more-active .lnk-remind:link,#nav-wrapper .more-active .lnk-remind:visited
{
	color: #fff;
}
.button-share
{
	display: inline;
	display: inline-block;
	height: 28px;
	padding: 0 12px;
	zoom: 1;
}
#nav-wrapper .top-nav-reminder
{
	float: right;
	line-height: 28px;
	margin-right: 5px;
	position: relative;
}
#nav-wrapper .top-nav-reminder a
{
	position: relative;
}
#nav-wrapper .top-nav-reminder .num
{
	background-color: #f7996d;
	color: #fff;
	left: 3em;
	line-height: 1.5;
	margin-left: 5px;
	margin-top: 4px;
	padding: 0 3px;
	position: absolute;
	top: 4px;
}
#nav-wrapper .top-nav-reminder .num i
{
	border-color: transparent #f7996d transparent transparent;
	border-style: dashed solid dashed dashed;
	border-width: 6px 6px 3px 5px;
	height: 0;
	left: -9px;
	line-height: 0;
	margin-top: -6px;
	pointer-events: none;
	position: absolute;
	top: 50%;
	width: 0;
}
#nav-wrapper .top-nav-reminder .more-items
{
	background: #fff;
	border: 1px solid #e6e6e6;
	left: -125px;
	padding: 0;
	position: absolute;
	top: 28px;
	white-space: normal;
	width: 280px;
	word-wrap: break-word;
	z-index: 999;
}
#nav-wrapper .top-nav-reminder .more-items a
{
	display: inline;
	line-height: inherit;
	padding: 0;
}
#nav-wrapper .top-nav-reminder .more-items a:link
{
	color: #369;
}
#nav-wrapper .top-nav-reminder .more-items a:visited
{
	color: #669;
}
#nav-wrapper .top-nav-reminder .more-items a:hover
{
	background-color: #039;
	color: #fff;
}
#nav-wrapper .top-nav-reminder .more-items a:active
{
	background-color: #f93;
	color: #fff;
}
#nav-wrapper .top-nav-reminder .more-items .bd
{
	color: #3e3e3e;
	line-height: 1.5;
	padding-top: 16px;
}
#nav-wrapper .top-nav-reminder .more-items .bd p
{
	border-bottom: 1px solid #f0f0f0;
	padding: 0 15px 13px 15px;
}
#nav-wrapper .top-nav-reminder .more-items .ft a
{
	background-color: #fafafa;
	display: block;
	padding: 4px 0;
	text-align: center;
	width: 100%;
}
#nav-wrapper .top-nav-reminder .more-items .ft a:active,#nav-wrapper .top-nav-reminder .more-items .ft a:hover
{
	background-color: #f5f5f5;
	color: #369;
}
#nav-wrapper .top-nav-reminder .more-items p
{
	color: #999;
	margin: 0;
}
#nav-wrapper .top-nav-reminder .more-items li
{
	border-bottom: 1px solid #f0f0f0;
	overflow: hidden;
	padding: 13px 15px;
	zoom: 1;
}
#nav-wrapper .top-nav-reminder .more-items li .pic
{
	float: left;
	margin-right: 8px;
}
#nav-wrapper .top-nav-reminder .more-items li .content
{
	line-height: 1.4;
	overflow: hidden;
	width: auto;
	zoom: 1;
}
#nav-wrapper .top-nav-reminder .more-items li .item-req
{
	border: 0;
	padding: 0;
}
#nav-wrapper .top-nav-reminder .more-items li .item-req .ops
{
	color: #aaa;
	float: right;
	overflow: hidden;
	position: static;
	width: 49px;
}
#nav-wrapper .top-nav-reminder .more-items li .item-req .ops a:active,#nav-wrapper .top-nav-reminder .more-items li .item-req .ops a:hover,#nav-wrapper .top-nav-reminder .more-items li .item-req .ops a:link,#nav-wrapper .top-nav-reminder .more-items li .item-req .ops a:visited
{
	color: #aaa;
}
#nav-wrapper .top-nav-reminder .more-items li .item-req .ops a:active,#nav-wrapper .top-nav-reminder .more-items li .item-req .ops a:hover
{
	background-color: #aaa;
	color: #fff;
}
#nav-wrapper .top-nav-reminder .more-items li .unread
{
	background-color: transparent;
}
#nav-wrapper .top-nav-reminder .more-items li .new-reply-item
{
	overflow: hidden;
}
#nav-wrapper .top-nav-reminder .more-items li .new-reply-item .content
{
	float: left;
	width: 186px;
}

h2
{
	color: #111;
}
.link-bt:active,.link-bt:hover,.link-bt:link,.link-bt:visited
{
	background-color: #f0f3f5;
}
fieldset
{
	border: 0 none;
}
h2
{
	color: #333d48;
}

#nav-wrapper .more-active
{
	position: relative;
	z-index: 10;
}
#nav-wrapper .more-active .bn-more:link,#nav-wrapper .more-active .bn-more:visited
{
	color: #fff;
}
#nav-wrapper .more-active a:link,#nav-wrapper .more-active a:visited
{
	color: #369;
}
#nav-wrapper .more-active .arrow
{
	border-color: #fff transparent transparent transparent;
}
#nav-wrapper .more-active .more-items
{
	_width: 0;
	background: #fff;
	border: 1px solid #e6e6e6;
	display: block;
	top: 42px;
	white-space: nowrap;
}
#nav-wrapper .more-active .more-items li
{
	display: block;
}
#nav-wrapper .more-active .more-items a:link,#nav-wrapper .more-active .more-items a:visited
{
	color: #3d3d3d;
}
#nav-wrapper .more-active .more-items a:hover
{
	background-color: #f6f6f6;
	color: #3d3d3d;
}
#nav-wrapper .more-items
{
	display: none;
	left: 0;
	position: absolute;
}
#nav-wrapper a:active,#nav-wrapper a:hover,#nav-wrapper a:link,#nav-wrapper a:visited
{
	color: #fff;
}
#nav-wrapper a:active,#nav-wrapper a:hover
{
	background-color: transparent;
	color: #fff;
}
#nav-wrapper .top-nav-info li,#nav-wrapper .top-nav-info ul
{
	display: inline;
	display: inline-block;
	zoom: 1;
}
#nav-wrapper .top-nav-info a
{
	display: inline;
	display: inline-block;
	height: 28px;
	margin: 0;
	padding: 0 22px 0 42px;
	zoom: 1;
}
#nav-wrapper .nav-user-account .more-items
{
	left: auto;
}
#nav-wrapper .more-active .lnk-remind:active,#nav-wrapper .more-active .lnk-remind:hover,#nav-wrapper .more-active .lnk-remind:link,#nav-wrapper .more-active .lnk-remind:visited
{
	color: #fff;
}
.nav
{
	min-width: 950px;
	overflow: hidden;
	width: 100%;
	zoom: 1;
}
.nav .nav-wrap
{
	border-bottom: 1px solid #D9DFF1;
}
.nav-search
{
	overflow: hidden;
	position: relative;
    margin-top:7px;
	zoom: 1;
	right: 0;
    float:left;

}

.nav-search .inp
{
	background: #fff;
	border: 1px solid #e1e9e1;
	border-radius: 3px 0 0 3px;
	height: 30px;
	moz-border-radius: 3px;
	text-align: left;
	webkit-border-radius: 0;
}
.search_input .inp-btn
{
	background-color: #fff;
	border-left: none;
	font-size: 0;
	height: 30px;
	overflow: hidden;
	position: relative;
	right: 0;
	top:0.2px;
	width: 30px;
    border-radius:0 3px 3px 0;
}
.search_input .inp-btn input
{
border-top: 1px solid #eaeaea;
border-left:0;
border-bottom:1px solid #eaeaea;
border-right:1px solid #eaeaea;
width: 30px;
height: 30px;
margin: 0;
cursor:pointer;
line-height: 100px;
background: transparent url(./bn_srh_1.png) no-repeat 50% 50%;
}
.bg-img-green h4,.nlst,.nlst h3
{
	background-color: #f0f6f3;
}
.favs .item
{
	display: block;
	margin-bottom: 10px;
}
.favs .item .title
{
	margin-bottom: 5px;
}
.favs .item p
{
	margin-bottom: 5px;
}

a{cursor:pointer;}
a:hover{ text-decoration:none;}

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix { display:block; *display:inline-block;}

.header{ line-height:27px; height: 27px;border-bottom: solid 1px #e5e7e9;background: #efefef;}
.head{ margin:0 auto; width:980px; color:#ccc;}


.main{ width:980px; margin:0 auto; padding-top:50px;min-height:510px;}
.left{ width:600px; margin-right:50px; +margin-right:40px;}
.aside{ width:320px; float:right;}

