@charset "UTF-8";

/*  全局样式   */
html {
    color: #000;
    font-size: 100%;
    background: #FFF;
    word-break: break-all;
    word-wrap: break-word;
}
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;table-layout: fixed;}
fieldset,img{border:0}
textarea{
resize:none;
}


ul{list-style:none;list-style-type:none;}
#footer ul{
float:left;
}
#footer li {
display: inline-block;
zoom: 1;
line-height: 28px;
font-size: 12px;
vertical-align: baseline;
margin-right:20px;
}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;outline:0}
input,textarea,select{*font-size:100%}
legend{color:#000}
body,  select, button, textarea { 
font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
line-height: 1.7;
font-size: 13px;
color: #222;
}
button { cursor: pointer; }
i,em,cite { font-style: normal; }
a, a:link , a:visited {color: #0077cc;text-decoration: none; }

.zm-item-answer-author-wrap>a:active, .zm-item-answer-author-wrap>a:hover, .zm-comment-hd>a:hover, .paginator>a:active, .paginator>a:hover {
    text-decoration: underline; 
}
a:focus { outline: none; }
.clearfix {_zoom: 1;}
.clearfix:after {content: ".";display: block;visibility: hidden;clear: both;height: 0px;}
.more { float: right; }
.more a { font-weight: normal; font-size: 12px; }
.fl{ float: left; }
.fr{ float: right; }
.red{ color:#c00;}
.black{ color:#333;}
.grey{ color:#999;}

#nav-wrapper {
    position:fixed;
    z-index:98;
    box-shadow:insert 0 -1px 0 #d5d5d5;
background: #4c66a4;
height: 42px;
width:100%;
min-height:41px;
float:left;
}

.fixed {
    position:fixed;
    top:0;
}


#third_login a{
    display:block;
    margin-bottom:20px;
}
.btn_submit{
    cursor:pointer;
    color: #fff!important;
    margin-right:17px;
    background:#0d6eb8;
    border:1px solid #4a7c9f;
    font-size:14px;
    padding:4px 17px;
    text-align:center;
    display:inline-block;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset,0 1px 0 rgba(0,0,0,0.2);
    border-radius:3px
}
.account_input{
    width: 200px;
    padding: 5px;
    margin-bottom:15px;
    height: 18px;
    font-size: 14px;
    vertical-align: middle;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #c9c9c9;
}
#dashboard .new-repo ,.minibutton,.primary,.new-repo{
    padding: 8px;
    font-size: 12px;
    font-weight:bold;
    line-height: 1;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #60b044;
    background-image: -moz-linear-gradient(#8add6d, #60b044);
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    background-repeat: repeat-x;
    -webkit-border-radius:3px;
    border-color: #5ca941;
}
.mini-icon,.mini-icon-create{
    float: left;
    margin: -2px 4px -3px -2px;
    font-size: 16px;
    width: 16px;
    height: 16px;
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    text-decoration: none;
}
#subject-bar{
    padding:30px 0 15px;
    position:relative;
}
.top_search_form{
    float:left;
}
.bns{
    position:relative;
    float:right; 
    margin-top:-20px;
}
.subject-tab{
    font-size:15px;
    margin:0;
    padding:0;
}
.subject-tab i{
    margin:0 4px;
    font-size:16px;
    color:#999;
}   
.inline_tabs{
    border-bottom:1px solid #ccc;
    margin:10px 0 15px;
    list-style-type:none;
    padding:0;
    list-style:none;
    display:block;
}
.inline_tabs li{
    display:inline-block;
    margin-right:10px;
    position:relative;
    top:1px;
}
dd {
    display:block;
}
dl.form{
    margin:20px 0;
}
dl.form-extra{
    margin:0px 0px;
	height:115px;
	
}
dl.form>dt{
    margin:0 0 6px 0;
}
.form-item label{
    position:relative;
    font-weight:bold;
    font-size:13px;
}

#content, .aside .title{
    margin-top:20px;
}
.form-url-wrapper,.form-title-wrapper{
    margin-bottom:20px;
}
.form-url-wrapper>input, .form-title-wrapper>input, .tag-editor>input{
    width:400px;
    padding: 7px 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#content textarea{
    height:74px;
    width:400px;
    border: 1px solid #ccc;
    border-radius: 3px;
	padding: 7px 8px;
}
.actual-edit-overlay{
    width: 400px;
    height: 31px;
    border: 1px solid #ccc;
    border-radius: 3px;
    opacity: 1;
    position: absolute;
    background-color: white;
    color: black;
    -webkit-text-fill-color: black;
    line-height: 28px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: start;

}


.tag-editor {
    border: 1px solid #ccc;
    cursor: text;
    background-color: White;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.tag-editor input {
    border: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: 0 !important;
    padding: 5px 8px;
    margin: 4px 3px 0;
    background-color: transparent !important;
}
.tag-suggestions {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    z-index: 300;
}
.edit-field-overlay {
    display: none;
}
.tag-suggestions>div {
    cursor: pointer;
    padding: 5px;
    width: 200px;
    overflow: hidden;
    float: left;
    position: relative;
}

.post-tag, .post-text .post-tag, .wmd-preview a.post-tag {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    padding: 3px 4px 3px 4px;
    margin: 2px 5px 2px 2px;
    text-decoration: none;
    line-height: 2.4;
}
.delete-tag {
margin-top: 10px;
margin-left: 4px;
vertical-align: top;

background-position: -74px -7px;
width: 14px;
height: 14px;
display: inline-block;
background-image: url('./sprites.png');
background-repeat: no-repeat;
overflow: hidden;
}
.delete-tag:hover, .delete-tag-active {
background-position: -57px -7px;
cursor: pointer;
background-image: url('./sprites.png');
background-repeat: no-repeat;
overflow: hidden;
}
.item-multiplier {
    font-size: 90%;
    font-weight: normal;
    margin-right: 4px;
    color: #999;
}
.tag-suggestions>div p {
    font-size: 11px;
    line-height: 1.1;

}
p {
    clear: both;
}
.tag-suggestions>div p.more-info {
    visibility: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 3px;
}





#footer {
    position: relative;
    height: 30px;
    margin:50px auto 0;
    width:980px;
    clear:both;
    border-top:1px solid #ebebeb;
}
.share-link a {
    display: block;
    line-height: 16px;
    padding-left: 20px;
    background-image: url(./sprites.png);
    background-repeat: no-repeat;
    background-position:-54px -27px;
}

.subject-item,.zm-item
{
    outline: 0;
    padding: 0;
    position: relative;
}
.subject-item .answer-head
{
    min-height: 25px;
}
#zh-question-log-list-wrap .zm-item
{
    margin: 0;
    padding: 10px 0 5px;
}
#zh-question-answer-collestions .zm-item
{
    margin: 0;
    padding: 8px 0 3px;
}
.zm-item .subject-item-author-info .zm-item-link-avatar
{
    display: none;
}
.subject-item
{
    border-bottom: 1px solid #eee;
}
.zm-item+.zm-item
{
    padding-top: 7px;
}
#subject-wrapper>.subject-item,.subject-detail >.subject-item
{
    padding: 10px 0 5px;
}
.zm-item.zm-item-h60
{
    min-height: 60px;
}
.zm-item.zm-item-h50
{
    min-height: 50px;
}
.zm-item.zm-item-h25
{
    min-height: 25px;
}
.zm-item.zm-item-collapsed
{
    background: #ccc!important;
}
.zg-section-big
{
    margin: 0 0 15px;
}
.zm-add-question-form-topic-wrap .zm-tag-editor-editor
{
    border: 1px solid #ccc!important;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
    padding: 8px 8px 3px;
    position: relative;
}
.zm-add-question-form-topic-wrap .zm-tag-editor-editor.empty
{
    display: block;
    padding-left: 25px;
}
.zm-add-question-form-topic-wrap .zm-tag-editor-command-buttons-wrap
{
    padding-left: 15px;
}
.zm-add-question-form-topic-wrap .zm-tag-editor-editor .zg-icon
{
    background-position: -44px -51px;
    height: 14px;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 4px;
    width: 13px;
}
.zm-add-question-form-topic-wrap .zm-tag-editor-editor .err-tip
{
    color: #999;
}
.zm-add-question-form-topic-wrap .zm-tag-editor-editor .err-tip.light
{
    color: #a02313;
}
.zm-item-tag .cross
{
    margin-bottom: 2px;
    margin-left: 6px;
}
.zm-item-tag:hover .cross span
{
    background: #fff;
}
.subject-item-meta
{
    color: #999;
    margin: 5px 0;
    position: relative;
}
.subject-item-meta>a,.zm-comment-ft>a
{
    margin-left:5px;
    color: #999;
    display: inline-block;
}
.subject-item-meta>a:hover,.zm-comment-ft>a:hover,.paginator>a:hover
{
    text-decoration: underline; 
    display:inline-block;
    color:#285da7;
}
#zh-question-meta-wrap
{
    margin-bottom: 10px;
}
#zh-question-meta-wrap>a.comment,#zh-question-meta-wrap>a.report
{
    margin: 0;

}

.zu-autohide{
    visibility:hidden;
}

.subject-item:hover .zu-autohide{
    visibility: visible;
}

.subject-item-meta-has-menu .zu-autohide,.item-has-focus .zu-autohide
{
    visibility: visible;
}
.subject-item .zm-item-link-avatar,.zm-item .zm-item-link-avatar,.zm-editable-editor-wrap .zm-item-link-avatar
{
    float: right;
    height: 25px;
    width: 25px;
}
.zm-editable-editor-wrap .zm-item-link-avatar
{
    margin-top: -1px;
}
.zm-item-link-avatar50
{
    float: left;
    height: 50px;
    margin: 0 10px 0 0;
    width: 50px;
}
.subject-item .zm-item-img-avatar,.zm-item .zm-item-img-avatar
{
    border: 0 none;
    float: left;
    max-height: 25px;
    max-width: 25px;
    overflow: hidden;
}
.zm-item-img-avatar-left
{
    float: left;
    margin: 2px 10px 0 0;
}
.zm-item-img-avatar50
{
    border: 0;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    height: 50px;
    overflow: hidden;
    width: 50px;
}
.zm-item-title
{
    margin: 0 30px 3px 0;
}
.zm-item-vote,.subject-votebar
{
    position:relative;
    float:left;
    margin-right:10px;
}
.zm-item-vote
{
    display: none;
}
.subject-votebar
{
    display: block;
}
.subject-votebar.goog-scrollfloater-floating
{
    margin-top: 10px;
}
.zm-item-thanks-info label
{
    cursor: pointer;
}
.subject-item-info-wrapper .hr
{
    border-top: 1px solid #e1e1e1;
    height: 0;
    margin: 2px 0;
    width: 30%;
}
.subject-item-owner .zm-item-vote
{
    display: block!important;
}
.subject-item-cc
{
    display: inline-block;
}
.zm-item-vote-count,.subject-votebar .up,.subject-votebar .down
{
    background: #e7f3f9;
    border: 0;
    border-radius: 4px;
    color: #698ebf;
    cursor: pointer;
    display: block;
    height: 20px;
    webkit-border-radius: 4px;
    width: 20px;
}
.touch .zm-item-vote-count:hover
{
    text-decoration: none;
}
.subject-votebar .up,.subject-votebar .down
{
    text-indent: -9999px;
}
.subject-votebar .vote-arrow
{
    _border-style: dashed;
    border: 6px solid transparent;
    font-size: 0;
    height: 0;
    left: 4px;
    position: absolute;
    width: 0;
}
.subject-votebar .up .vote-arrow
{
    border-bottom-color: #698ebf;
    border-top-style: solid;
    border-top-width: 0;
    top: 7px;
}
.subject-votebar .down .vote-arrow
{
    border-bottom-width: 0;
    border-top-color: #698ebf;
    top: 31px;
}

.subject-votebar .down:hover .vote-arrow,.subject-votebar .down.pressed .vote-arrow
{
    border-top-color: white;
}
.subject-votebar .up:hover,.subject-votebar .up.pressed
{
    background: #698ebf;
}
.subject-votebar .down:hover,.subject-votebar .down.pressed
{
    background: #698ebf;
}
.subject-votebar .down
{
    margin: 4px 0 0;
}

.subject-votebar .up:hover .vote-arrow, .subject-votebar .up.pressed .vote-arrow {
    border-bottom-color: white;
}

.subject-item-summary
{
    display: none;
}
.subject-item-info
{
    color: #999;
    font-size: 12px;
    margin: 3px 0;
}
.subject-item-info .voters
{
    display: inline;
}
.subject-item-info .voters>li
{
    display: inline-block;
    list-style: none;
}
.subject-item-creator
{
    font-size: 13px;
}
.subject-item-author-wrap
{
    font-size: 13px;
    margin: 0 0 1px 0;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    font-size: 14px;
}
.subject-filter,.subject-filter-popup > div{
    height:24px;
    padding:0 19px 0 7px;
    color:#999;
    outline:0;

}
.subject-filter,.subject-filter-popup{
    position:absolute;
    top:50%;
    margin-left:21px;
    margin-top:-13px;
}
.subject-filter{
    height:24px;
    border:1px solid white;
    cursor:pointer;
}
.subject-filter-popup>.selectable {
    cursor: pointer;
}
.subject-filter-popup>.selectable:hover{
    background: #eee;
    text-decoration: none;
}
.subject-filter-popup {
    display: none;
    z-index: 2;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    text-decoration: none;
    background: white;
}

.subject-filter .icon-double-arrow,.subject-filter-popup .icon-double-arrow{
    position:absolute;
    right:3px;
    top:5px;
}

.icon-double-arrow {
    background-position: -191px -229px;
    width: 14px;
    height: 14px;
}

.model-dialog-bg{
    position:fixed;
    left:0;
    top:0;
    z-index:95;
    min-height:100%!important;
    width:1349px;
    height:3868px;
    overflow:visible;
    background:#666;
    opacity:0.5;

}



.ZebraDialog_Buttons .form-share{

    position:relative;
    margin:4px 0 0 10px;
	float: left;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { /*font-weight: normal;*/ color: #3399FF; }

.item-multiplier {
font-size: 90%;
font-weight: normal;
margin-right: 4px;
color: #999;
}

.modal-dialog-guide-warn-message {
    background: none repeat scroll 0 0 #f8f6e2;
    border: 1px solid #ccc9ac!important;
    padding: 5px 0px 0px 9px!important;
    margin: 0 0 8px!important;
    position:relative;
    border-radius:5px;
}


#modal-dialog-url-warnmsg-wrapper>.modal-dialog-guide-title-msg,#modal-dialog-title-warnmsg-wrapper>.modal-dialog-guide-title-msg{
bottom: -10px;
z-index: 1;
visibility: visible;
left: 21px;
}

#form-tag-err{
    margin-left: 10px;
}

#form-tag-err , .error{
    font-size:13px;
    color:#c33;
    font-weight:normal;
}

.modal-dialog-title-close {
position: absolute;
right: 3px;
width: 30px;
height: 30px;
margin-top: -35px;
text-indent: -9999px;
cursor: pointer;
background-position: 0px 2px;
background-image: url('./sprites.png');
background-repeat: no-repeat;
display: inline-block;
vertical-align: middle;
}

.button-primary ,.button-primary:link,.button-primary:visited{
	background-color:#336ea9;
	margin-left:10px;
	color:#fff;
}
.button{
	border-radius:3px;
}
.aui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}




.button-primary,
.button-primary:visited {
    background: #3068a2;
    background: -moz-linear-gradient(top, #4687ce 0%, #3068a2 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #4687ce 0%,#3068a2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4687ce 0%,#3068a2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4687ce 0%,#3068a2 100%); /* IE10+ */
    background: linear-gradient(top, #4687ce 0%,#3068a2 100%); /* W3C */
    border-color: #486582;
    color: #fff;
    font-weight: bold;
    -webkit-font-smoothing: antialiased; /* for chrome on mac */
    text-shadow: 0 1px 0 #205081;
}



.button:focus,
.button:hover {
    background: #3673B5;
    background: -moz-linear-gradient(top, #3673B5 0%, #3673B5 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #3673B5 0%,#3673B5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3673B5 0%,#3673B5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3673B5 0%,#3673B5 100%); /* IE10+ */
    background: linear-gradient(top, #3673B5 0%,#3673B5 100%); /* W3C */
    border-color: #999;
    /*color: #000;*/
    text-decoration:none;
}
.button:active,
.button.active {
    background-image: none;
    background-color: #3673B5;
    box-shadow: inset 0 3px 6px rgba(0,0,0,.1);
    text-shadow: none;
    text-decoration:none;
}

.zm-comment-box {

background: #fff;
position: relative;
}
.panel-container{
	margin-top:5px; 
}
.zm-item-comment {
position: relative;
margin: 0 0;
padding: 8px 0 5px 0;
}
.zm-item-comment+.zm-item-comment {
border-top: solid 1px #eee;
}
.zm-comment-content-wrap {
margin: 0 0 0 0px;
}
.zm-comment-content {
color: #222;
min-height: 2px;
}
.zm-comment-ft {
color:#999
}
.zm-comment-op-link {
margin-left: .5em;
color: #999;
visibility: hidden;
}

.zm-comment-content-wrap:hover .zm-comment-op-link{
	visibility: visible;
}
.zm-item-comment .like-num {
float: right;
}

.zm-comment-form .zm-comment-editable {
padding: 7px 8px;
font-size: 13px;
line-height: 22px;
min-height: 22px;
color: #222;
cursor: text;
border: 1px solid #ddd;
border-radius: 3px;
box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
background-color: white;
}

.zm-comment-form .zm-command {
display: none;
padding-bottom: 0;
padding: 10px 0;
text-align: right;
}
.zg-clear {
height: 1%;
}

.zg-clear:before, .zg-clear:after {
content: " 0020";
display: block;
height: 0;
visibility: hidden;
}
.zg-clear:after {
clear: both;
}

.zg-btn-blue {
background: #0874c4;
background-color: #0e7fcc;
background-image: -moz-linear-gradient(top,#1288d4,#0771c1);
background-image: -ms-linear-gradient(top,#1288d4,#0771c1);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#1288d4),to(#0771c1));
background-image: -webkit-linear-gradient(top,#1288d4,#0771c1);
background-image: -o-linear-gradient(top,#1288d4,#0771c1);
background-image: linear-gradient(top,#1288d4,#0771c1);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1288d4',endColorstr='#0771c1',GradientType=0);
text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
border: 1px solid #0d6eb8;
color: #fff!important;
box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset,0 1px 0 rgba(0,0,0,0.2);

font-size: 14px;
line-height: 1.7;
text-decoration: none!important;
vertical-align: middle;
display: inline-block;
text-align: center;
padding: 4px 10px;
cursor: pointer;
border-radius: 3px;
}

.zg-right {
float: right;
}
.zm-command-cancel {
margin: 0 25px 0 0;
cursor: pointer;
line-height: 33px;
}

.zm-comment-bubble {
position: absolute;
top: -8px;
left: 81px;
display: none;
}
.icon-spike {
    position: absolute;
    top: -8px;
    left: 23px;
    background-position: -200px -165px;
    
    width: 16px;
    height: 16px;
    background-image: url('./sprites-1.8.2.png');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.zm-item-comment .like-num.nil {
display: none;
}
.zm-comment-hd, .zm-comment-ft {
color: #999;
}

.answer-date-link-wrap{
    float:right;
}

.zg-section {
margin: 0 0 10px;
display: block;
padding-top:15px;
}

.zg-form-text-input{
    width: 93.7%;
    padding: 8px 10px;
    font-size: 13px;
    line-height: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #ccc;
    color: #222;
}
.zg-form-text-input>textarea {
color: #222;
overflow: hidden;
min-height: 66px;
line-height: 22px;
font-size: 13px;
padding: 0!important;
margin: 0!important;
border: 0 none;
resize:none;
-webkit-appearance: none;
}

.zg-ico-sina {
background: url(./ico_sina.gif) no-repeat;
}
.zg-ico-qq, .zg-ico-sina {
display: inline-block;
width: 16px;
height: 17px;
vertical-align: -3px;
margin-right: 3px;
}
.form-share input{
margin: 0 5px 0 0;
vertical-align: 0;

}
#top-inner{
position: relative;
margin: 0 auto;
width: 980px;

}

.relative {
position: relative;
}
.row {
clear: both;
float: left;
width: 100%;
}


.logo a {
box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3);
background: url(./sprites.png) no-repeat center top;
height: 41px;
position: absolute;
background-position: -12px -52px;
top: 0;

display: block;
font-size: 10px;
overflow: hidden;
text-align: center;
text-indent: -10000px;
width: 75px;
}
.full_search.instant_results {
width: 550px;
}
.search {
position: relative;
float: left;
margin-left:75px;
}
.search_contents {
float: left;
padding: 1px 0 0;
}
.full_search.instant_results .search_form {
margin: 5px 0 5px 5px;
}
.search .search_form {
float: left;
margin: 5px;
display: block;
}
.nav_list {
float: right;
}
.nav_list>li {
float: left;
}
.nav_list .nav_item {
color: #333;
padding: 13px 10px;
float: left;
max-height: 15px;
}
.bn-more, .index{
font-weight: bold;
line-height:normal;
}
.index{
    display:block;
    padding:13px 7px;
    max-height:15px;
}

.full_search.instant_results .search_input{
border:0;
border-radius:3px;
}
.search_input {
border: 1px solid #aaa;
float: left;
}
.full_search.instant_results .input_wrapper {
height: 30px;
border-radius:3px;
}
.navigator .input_wrapper {
background: #fff;
float: left;
height: 26px;
position: relative;
}
.full_search.instant_results .input_wrapper .question_box {
padding: 2px 5px 3px;
width: 510px;
}

.search .question_box {
background: #fff;
border: 0;
float: left;
font-size: 14px;
height: 18px;
margin-top: 2px;
padding: 3px 5px 2px;
overflow: hidden;
line-height: 19px;
}
.above-feed-add-s-button{
	float:right;
}


.horizontal_tabs, .search-result-head{
border-bottom: 1px solid #eee; 
margin: 0 0;
}
.horizontal_tabs{
padding: 10px 0 40px 0;
}
.search-result-head{
    padding:10px 0 15px 0;
}

.list_contents {
    display:inline;
    float:left;
}
.horizontal_tabs .linked_list_item {
background: 0;
margin-left: 0;
margin-right: 20px;
padding: 0;
display: inline;
}
.linked_list_item {
border: 0;
margin-left: -10px;
padding: 0 0 1px;
}

.side_col {
float: right;
}

.horizontal_tabs .linked_list_item .link {
background: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
display: inline;
padding: 0;
color: #538dc2;
font-weight: normal;
}

.linked_list_item .link {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-image: url(//d1vgw4v7ja2ido.cloudfront.net/-536c798ca4bf3d6e.gif);
background-repeat: no-repeat;
background-position: left center;
clear: both;
display: block;
font-weight: bold;
padding: 3px 5px 3px 10px;
}
.submit_button, .action_button, .lil_action_button {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background: #d8d8d8 url(//d1vgw4v7ja2ido.cloudfront.net/-bcb76e8ee476f5c8.gif) repeat-x top left;
border: 1px solid #bbb;
border-bottom: 1px solid #999;
cursor: pointer;
font-size: .9em;
display: inline-block;
padding: 3px 10px;
text-align: center;
text-shadow: 0 1px #f0f0f0;
}
.horizontal_tabs .linked_list_item .selected {
color: #333;
font-weight: bold;
}
.linked_list_item .selected:hover, .linked_list_item .selected {

color: #333;
cursor: default;
}

.icon-button{
	line-height: 2.2;
}
.zm-item-domain{
line-height: 1.7;
font-size: 13px;
color: #999;
font-weight: normal;
}
.zm-comment-ft > .date{
    float:left;
}

.zm-item-comment .zm-comment-form {
padding: 15px 0;
}

.paginator{
    clear:both; 
    padding:10px 0 70px 0; 
}
.signup-form{
    font-size:14px;
    margin-top:30px;
}
.button-row{
    clear:both;
    float:left;
    width:150px;
}
.button-row .submit-button{
    display:inherit;
background:#4f80b5;
color:#fff;
font-size: 14px;
line-height: 1.7;
text-decoration: none!important;
vertical-align: middle;
display: inline-block;
_display: inline!important;
text-align: center;
padding: 4px 10px;
cursor: pointer;
border-radius: 3px;
width:100px;
margin-bottom:10px;
}

.profile .userface{
    float:left;
    margin:15px 8px 8px 0;
}
.search-button {
position: absolute;
right: 0;
top: 0;
width: 30px;
height: 32px;
border: 0;
cursor: pointer;
display: inline-block;
background: 0;
}
.search-button>.icon-search {
margin: 8px 0 0 5px;
}
.icon-search {
width: 14px;
height: 14px;
background-position: -34px -9px;
vertical-align: -3px;
background-image: url(./sprites.png);
background-repeat: no-repeat;
display: inline-block;

}
.zg-form-text-input {
padding: 8px 10px;
margin-top:5px;
font-size: 13px;
line-height: 15px;
box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
border-radius: 3px;
background: #fff;
border: 1px solid #ccc;
color: #222;
}
.form-with-magnify {
position: relative;
}
.zg-left {
float: left;
}
.hide-text {
font: 0/0 a;
color: transparent;
text-shadow: none;
background-color: transparent;
border: 0;
}

.edit-button{
visibility:hidden;
}
.userintro:hover .edit-button{
    visibility: visible;
}
.userintro textarea {
font-size: 12px;
height: 50px;
width: 318px;
border: 1px solid #ddd;
}
.report-dialog-content{
    margin-top:20px;
    min-height:80px;
}
.report-dialog-return{
    margin-top:20px;
    min-height:40px;
}
.report-dialog-content .options>li{
    float:left;
    width:155px;
}
.report-dialog-desc{
    margin:5px 0;
}
.report-dialog-desc input{
    width:280px;
}

.zm-item-comment blockquote {
border-left: 2px solid #dddddd;
padding: 0 5px;
margin-left:10px;
color: #999;
}
.userinfo{
    padding-top:15px;
}

.share-list{
position: absolute;
z-index: 19;
margin: 0;
padding: 5px 0;
background: #fff;
cursor: default;
outline: 0;
border: solid 1px #CCC;
box-shadow: 0 1px 2px #ddd;
border-radius: 3px;
left: 304px;
top: 21px;
}
    
.welcome {
padding: 5px 15px 5px 15px;
background: #e7f1fb;
color: #39558c;
font-weight: bold;
font-size: 14px;
margin-top: 10px;
}
.feedback_form{
    margin-top:30px;
}
.feedback_form .label{
    width:95px;
    float:left;
    text-align:right;
    margin-right:5px;
    line-height:30px;
}
.feedback_form ul li{
    line-height:30px;
    clear:both;
    text-align:left;
    margin-top:5px;
    z-index:1;
}
.feedback_form .prompt{

    overflow: hidden;
    zoom: 1;
    display: inline;
    color: #888;

}
.feedback_form .btn_gray{
border: 1px solid #888;
height: 25px;
padding: 0 14px;
color: #333;
border-radius: 2px;
font-size: 12px;
cursor: pointer;
}

.third_login{
    margin-top:20px;
}
.login_button{
    margin-top:10px;
}
.register{
    margin: 0 auto;
    width: 650px;
}
.register p{
    line-height: 22px;
    font-size: 14px;
}
.other{
    padding: 30px 0 0 83px;
    text-align: left;
    color: #999;
}
.point_email{
    border-bottom:1px dashed #c9c9c9;
    padding: 30px 0;
}
.signup_form, .login_form{
    padding: 30px 0;
    margin-left:20px;
}
.title{
    padding-top: 40px;
    font-size: 20px;
}
.aside .pl{
    margin-top:60px;
}
