.ZebraDialog *,
.ZebraDialog *:after,
.ZebraDialog *:before  { -moz-box-sizing: content-box !important; -webkit-box-sizing: content-box !important; box-sizing: content-box !important }

.ZebraDialog {
    width: 350px;
}

.ZebraDialog,
.ZebraDialog .ZebraDialog_Title,
.ZebraDialog .ZebraDialog_Body,
{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    font-size: 14px;
    text-align: left;
}

.ZebraDialog .ZebraDialog_Title,
.ZebraDialog .ZebraDialog_BodyOuter,
.ZebraDialog .ZebraDialog_Buttons {
    border-color: #13252F;
    border-width: 7px;
}

.ZebraDialog .ZebraDialog_Title {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background: #4c66a4;
    padding: 12px 15px;
    line-height: 1;
}

/*  set background color here and not on ZebraDialog_Body, or you'll eventually run into problems with rounded corners
    when using smaller widths for border! */
.ZebraDialog .ZebraDialog_BodyOuter {
    background: #fff;
}

.ZebraDialog .ZebraDialog_Body {
    color: #44484A;
    padding: 0 20px 0 20px;
    border-top-color: #4c66a4;
    border-bottom-color: #FFF;
}

.ZebraDialog .ZebraDialog_Buttons {
    background: #fff;
    padding: 5px 5px 20px 10px;
}

.ZebraDialog .ZebraDialog_Buttons .button-cancel{
    margin:0 30px 0 0;
}

.ZebraDialog .ZebraDialog_Buttons .ZebraDialog_Button0 {
    font-weight: bold;
    color: #FFF;
    text-shadow: 1px 0px 2px #222;
    padding: 6px 12px;
}


.ZebraDialogOverlay {
    background: #666;
}

/* = YOU SHOULD NOT CHANGE ANYTHING FROM THIS POINT ON
---------------------------------------------------------------------------------------------------------------------*/
.ZebraDialog {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.ZebraDialog .ZebraDialog_Title {
/*
    border-left-style: solid;
    border-top-style: solid;
    border-right-style: solid;
	*/
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.ZebraDialog .ZebraDialog_BodyOuter {
  /*  border-left-style: solid;
    border-right-style: solid;
	*/
}

.ZebraDialog .ZebraDialog_NoTitle {
/*
    border-top-style: solid;*/
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
	
}

.ZebraDialog .ZebraDialog_NoButtons {
/**/
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
	
}

.ZebraDialog .ZebraDialog_Body {
/*   */ 
   border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 2px;
    /*border-bottom-style: groove;*/

 overflow: auto;
}

.ZebraDialog .ZebraDialog_NoTitle .ZebraDialog_Body {
    border-top: none;
}

.ZebraDialog .ZebraDialog_NoButtons .ZebraDialog_Body {
    border-bottom: none;
}

.ZebraDialog .ZebraDialog_Icon {
    background-repeat: no-repeat;
    background-position: 20px 20px;
    /*padding-left: 88px;  */
    min-height: 48px;
    _height: 85px;
}

.ZebraDialog .ZebraDialog_Confirmation  { background-image: url('confirmation.png') }
.ZebraDialog .ZebraDialog_Error         { background-image: url('error.png') }
/*.ZebraDialog .ZebraDialog_Information   { background-image: url('information.png') }*/
.ZebraDialog .ZebraDialog_Question      { background-image: url('question.png') }
.ZebraDialog .ZebraDialog_Warning       { background-image: url('warning.png') }

.ZebraDialog .ZebraDialog_Buttons {
/*
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
	*/
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    text-align:right;
}

.ZebraDialog .ZebraDialog_Buttons .ZebraDialog_Button0 {
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    float: right;
    margin-right: 5px;
    min-width: 50px;
    _width: 50px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 3px;

    /* taken from Twitter Bootstrap */
    background-color: #006DCC;
    *background-color: #0044CC;
    background-image: -moz-linear-gradient(top, #0088CC, #0044CC);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0044CC));
    background-image: -webkit-linear-gradient(top, #0088CC, #0044CC);
    background-image: -o-linear-gradient(top, #0088CC, #0044CC);
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: #0044CC #0044CC #002A80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0044CC', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.ZebraDialog .ZebraDialog_Preloader {
    height: 32px;
    background: url('preloader.gif') no-repeat center center;
}
