{% extends "base.html" %}
{% block title %}500{% endblock %}
{% block content %}  
<div style="margin:100px auto; width:350px;">
    <img style="float:left;" src="/site_media/error.gif">
        <span style="font-size:14px; line-height: 32px; margin-left:10px">
        呃...服务器开小差了</span>
        <p style="margin-top:10px">&gt;&nbsp;返回&nbsp;<a href="/" title="首页">首页</a></p>
</div>

{% endblock %}
