<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% load url from future %}
<html lang="en" >
 <head>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       <title>{% block title %}{% endblock %}</title>
       <meta name="description" content="Python编程,Django框架,数据库,动态编程语言,MySQL">
       <meta name="keywords" content="Python编程 Java编程 Django框架 gongshare技术分享">
	   <link href="/site_media/autocomplete.css" rel="stylesheet" type="text/css">
	   <link href="/site_media/content.css" rel="stylesheet" type="text/css">
	   <link href="/site_media/gavacafe.css" rel="stylesheet" type="text/css">
	   <link href="/site_media/tipsy.css" rel="stylesheet" type="text/css">
	   <link href="/site_media/zebra_dialog.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
	<div  id="nav-wrapper">
		<div id="top-inner">
				<div class="row relative">
					<div class="logo">
                        <a class="w1" href="{% url 'index:index' %}">gongshare</a>
					</div>
					<ul class="nav_list nav_list_reorg">
						<li class="nav-user-account">
						{% if user_ %}
                        <a target="_blank" href="javascript:;" class="bn-more nav_item has_nav_menu" rel="off">
                            <span>{{user_.username}}</span></a>
						 <div class="more-items">
						 <ul class="login-dropdown" style="display:block">
                             <li><a href="{% url 'people:index' user_.id %}">我的公舍</a></li>
                             <li><a href="{% url 'account:logout'%}">退出</a></li>
                         </ul>
						 </div>
						{% else %}
                        <a href="{% url 'account:login'%}" class="bn-more nav_item " rel="off">
                            <span>登录</span>
                        </a>
                        <a href="{% url 'account:signup'%}" class="bn-more nav_item " rel="off">
                            <span>注册</span>
                        </a>
                        <!--
						<div class="more-items">
						 <ul class="share-link login-dropdown" style="display:block">
							<li><a class="s-sina" href="/account/login/weibo">微博登录</a></li>
						 </ul> 
						</div>
                        -->
						{% endif %}
						</li>
					</ul>
					<div id="context-navigator">
						<div class="search full_search instant_results">
							<div class="search_contents navigator">
								<form class="search_form" action="#" onsubmit="return false;" method="get" name="search_form">
									<div class="search_input">
										<div class="input_wrapper">
											<span class="input_icon" id="__w2_mh4TQOu_input_icon"></span>
                                            <input class="question_box light"  name="search_input" type="text" 
                                                value="{%if query_key %}{{query_key}}{%endif %}" maxlength="250"  
                                                placeholder="搜索标签、资源" >
                                                <button type="submit" class="search-button">
                                                    <i class="icon-search"></i>
                                                <span class="hide-text">搜索</span></button>
										</div>
									</div>
								</form>
								<div id="result_shell"></div>
							</div>
						</div>
						<a href="{% url 'index:index' %}" class="index"><span>首页</span></a>
					</div>
				</div>
		</div>
	</div>


	<div class="main clearfix">
		<div class="left fl">
		 {% block content %}{% endblock %}
		</div>
        <div class="aside">
            {% block aside %}{% endblock %} 
        </div>
	</div>
	<div id="footer">
    <ul>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'changelog' %}">Changelog</a></li> 
<!--
        <li>
        <a class="advice" href="/feedback">吐槽</a>
        </li>
-->
    </ul>
        <span style="float:right">本站推荐使用<a href="http://www.google.cn/intl/zh-CN/chrome/browser/">Chrome</a>或<a href="http://firefox.com.cn/download/">Firefox</a>浏览器</span>
	</div>
</div>

       <script type="text/javascript" src="/site_media/jquery-1.8.2.min.js"></script>
       <script type="text/javascript" src="/site_media/jquery.tipsy.js"></script>
       <script type="text/javascript" src="/site_media/jquery.autocomplete.js"></script>
       <script type="text/javascript" src="/site_media/zebra_dialog.js"></script>
       <script type="text/javascript" src="/site_media/gavacafe.js"></script>
             <script>
             (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
               (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                     ga('create', 'UA-42613705-1', 'gongshare.com');
                       ga('send', 'pageview');
       </script>

</body>
</html>

