<div class="zm-item-comment" data-id="{{comment.id}}">
    <div class="zm-comment-content-wrap">
        <div class="zm-comment-hd">
            <a href="/people/{{comment.user.id}}" class="zg-link">{{comment.user.username}}</a>
            {% if comment.comment %}
            <span class="desc">回复 </span>
            <a  href="/people/{{comment.comment.uesr.id}}" class="zg-link" >{{comment.comment.user.username}}</a>
            {% endif %}
        </div>

        <div class="zm-comment-content">
            {% if comment.comment %}
            <blockquote>
                <p>{{comment.comment.content}}</p>
            </blockquote>
            {% endif %}
            <p>{{comment.content}}</p>
        </div>
        <div class="zm-comment-ft">

            <a href="javascript:;" name="delete" class="delete zm-comment-op-link">删除</a>

            <span class="date">{{comment.pub_date|date:"Y-m-d"}}</span>
        </div>
    </div>
</div>

