{% extends "base.html" %}
{% block title %}反馈与建议{% endblock %}
{% block content %}  
<div id="writeTips" class="welcome">
    <i class="i_bubble"></i>
    <p>您好，欢迎给本站提使用感受和建议！首先说好啦，任何版本的IE以及IE内核游览器下的Bug都不算是Bug</p>
</div>
		
	

<div class="feedback_form">
    <ul>
        <li>
        <span class="label">内容：</span>
        <textarea style="width:498px;height:140px"></textarea>
        </li>
        <li>
        <span class="label">您的邮箱：</span>
        <input type="text" id="contact_text" required="true" style="width:200px;height:23px"/>
        <div class="prompt">（方便我们及时告知您处理结果）</div>
        </li>
        <li>
        <span class="label">上传图片：</span>
        <input type="file"/>
        </li>
        <li>
        <input type="submit" value="提 交" class="btn_gray" style="margin-left:100px"/>
        </li>
    </ul>
</div>



{% endblock %}





u@)!!)%@&

