{% extends "base.html" %}
{% block title %}登录{% endblock %}
{% block content %}  
<div id="content">
    <div class="title">登录公舍</div>
    <div class="login_form">
    <span class='error'>{{error}}</span>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <span class='error'>{{ error|escape }}</span>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <span class='error'>{{ error|escape }}</span>
        {% endfor %}
    {% endif %}
            
		<div class="login_div">
            <form action="{% url 'account:login' %}" method="post" style="width: 200px;">
                <input type="hidden" id="form_key" name="form_key" value="Mr1VlmxjqlexWFJBlE5f">
            <div >
                <input class="account_input" name="email" required="true" type="text" placeholder="邮箱">                
            </div>
                <div>
                <input class="account_input" name="password" required="true" type="password"  placeholder="密码">
			    </div>	
                <!--
				<input type="checkbox"/>下次自动登录&nbsp;|&nbsp;<a href="/account/forget">密码忘记了?</a>
                -->
			   <div  class="login_button">
                    <input id="submit" type="submit"  class="btn_submit" value="登&nbsp;录">
                </div>

			</form>  
		</div>
		</div>
    </div>
{% endblock %}

{% block aside %}
<div class="title">或者使用第三方登录平台</div>
<div class="login_form">
<a class="login_weibo" href="{% url 'account:weibo_login' %}"><span class="zg-ico-sina"></span>新浪微博登录</a>
</div>
<div class="pl">
<p>&gt;&nbsp;还没有公舍帐号? <a href="{% url 'account:signup' %}">注册</a></p>
</div>
{% endblock %}
