{% extends "base.html" %}
{% block title %} gongshare---共同协作 {% endblock %}
{% load custom_filter %}
{% block content %}  
<div class="horizontal_tabs feed_switcher">
    <ul class="list_contents" >
        <li class="tab linked_list_item first">
        <a class="link {%if not favoured %}selected {%endif%}" href="/people/{{user.id}}/">
            {%ifequal user user_ %}我{% else %}{{user.username}}{% endifequal %}发布的主题
        </a></li>
        <li class="tab linked_list_item">
        <a class="link {%if favoured %}selected {%endif %}" href="/people/{{user.id}}/favour">
         {%ifequal user user_ %}我{% else %}{{user.username}}{% endifequal %}赞过的主题   
        </a></li>
    </ul>
</div>

<div class="content">
	{% if subject_list %}
	<div id="subject-wrapper" >
	{% for subject in subject_list %}
	<div class="subject-item " data-id="{{subject.id}}">
		{% if subject.user != user_ or favoured%}
		<div class="subject-votebar">
			{% if subject in user_.vote_subjects.all %}
				<button class="up pressed"  original-title="取消赞"><span class="vote-arrow"></span>取消赞</button>
			{%else%}
				<button class="up"  original-title="赞一个"><span class="vote-arrow"></span>赞同</button>
			{%endif %}
		</div>
		{% endif %}
		<div class="answer-head">
		<div class="zm-item-answer-author-info">
			<h3 class="zm-item-answer-author-wrap"><a href="{{subject.url}}" target="_blank">
            <strong  class="zu-question-my-bio">{{subject.title}}</strong></a>
            <span class='zm-item-domain'>({{subject.netloc}})</span></h3>
		</div>
		</div>
		<div class="subject-item-meta zm-item-comment-el answer-actions clearfix">
		    <span>{{subject.votes}}票</span>
        	{% if favoured %}<a  href="/people/{{subject.user}}" class="meta-item" >{{subject.user.username}}</a>{%endif %}
            <a href="/subject/{{subject.id}}" name="addcomment" class=" meta-item toggle-comment">
            <i class="z-icon-comment"></i>
            {% if subject.comment_count %} {{subject.comment_count}}条评论{% else %}添加评论{%endif %}</a>
			<a href="javascript:;" class="meta-item zu-autohide" name="share"><i class="z-icon-share"></i>分享</a>
			<a href="javascript:;" class="meta-item zu-autohide fav" name="report"><i class="z-icon-collect"></i>举报</a>
            {% if not favoured %}
            <span class="answer-date-link-wrap meta-item" title='{{subject.pub_date|date:"Y-m-d H:i"}}'>
            {{subject.pub_date|timebefore}}
            </span>
            {% endif %}
		</div>
	</div>
	{% endfor %}
	</div>
	{% endif %}
</div>
<div class="paginator">
    {% if subject_list.has_next%}
    <a href="?p={{subject_list.next_page_number}}">更多</a>
    {% endif %}
</div>
{% endblock %}

{% block aside %}
    <div class='profile'>
        <img src="/media/avatar/{{avatar}}" height="80px" width="80px" class="userface">
        <div class="userinfo clearfix">
            <ul>
                <li>{{user.username}}</li>
                <li>{{user.add_time|date:"Y-m-d"}} 加入</li>
                <!--<li><a href="http://liuzhijun.iteye.com">liuzhijun.iteye.com</a></li>
                <li><span style="font-weight:bold">123</span>点声望</li>-->
            </ul>
        </div>
        <div class="userintro">
            <div class="show-intro">
                <span>{{user.signature}}</span>
                {% if user == user_ %}
                <a class="edit-button" name="edit" href="javascript:;">
                {%if user.signature %}修改{%else %}一句话介绍自己{%endif%}</a>
                {% endif %}
            </div>
            {% if user == user_ %}
        <div class="intro_wrapper" style="display: none;">
            <textarea id="intro_content" name="intro" style="overflow: hidden;">{{user.signature}}</textarea><br>
            <input id="intro_url" type='hidden' value="/people/{{user.id}}/edit_intro/">
            <input id="intro_submit" class="submit" type="submit" value="保存">
            <a id="intro_cancel" class="cancel" href="javascript:;"> 取消</a>
        </div>
            {% endif %}
            
        </div>
    </div>
{% endblock %}
