{% extends "base.html" %}
{% block title %}注册{% endblock %}
{% block content %}
<div id="content">
<div class="title">欢迎加入公舍</div>
<div class="signup_form">
   <span class='error'>{{error}}</span>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <span class='error'>{{ error|escape }}</span><br>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <span class='error'>{{ error|escape }}</span>
        {% endfor %}
    {% endif %}
  
    <form action="{% url 'account:signup' %}" method="POST" >{%csrf_token%}
        <div >
            <input class="account_input" name="email" required="true" type="text" placeholder="邮箱" value="{{form.email.value|default:''}}"/>                
        </div>
        <div >
            <input class="account_input" name="username" required="true" type="text" placeholder="姓名" value="{{form.username.value|default:''}}"/>                
        </div>
        <div >
            <input class="account_input" name="password" required="true" type="password" placeholder="密码">                
        </div>
        <div >
            {{form.captcha}}&nbsp;&nbsp;看不清？<a id="captcha_change">换一个</a>
        </div>
        <div >
            <input id="submit" type="submit"  class="btn_submit" value="注&nbsp;册">
        </div>
        <br>
    </form>
</div>
</div>
{% endblock %}
{% block aside %}
<p class="pl">&gt;&nbsp;已经拥有公舍帐号? <a href="{% url 'account:login' %}">直接登录</a></p>
{% endblock %}

