{% extends "base.html" %}
{% block title %}激活账户{% endblock %}
{% block content %}
<div id="content">
    <div class="title">账户激活</div>
    <div class="register">
    <div class="point_email">
        <p>系统已经发送了一封激活邮件到您的邮箱</p>
        <p>请访问您的邮箱：<b>{{email}}</b>，点击邮件中的链接便可激活您的帐户</p>
    </div>
    <div class="other">
        <p>&nbsp;&nbsp;如果没有收到激活邮件：</p>
        <p>• 也许邮件被您的邮箱误认为是垃圾邮件而放到垃圾箱中，请检查一下</p>
        <!--<p>• 或者，您可以<a id="sendMsg" class="action" href="javascript:void(0)">点此重新发送激活邮件</a></p>
        -->
    </div>
    </div>

</div>
{% endblock %}


