{% extends "base.html" %}
{% block title %}账户激活成功{% endblock %}
{% block content %}
<div id="content">
    {% if status == 1 %}
    <div class="title">您已经成功注册公舍账户</div>
    <div class="register">
    <div class="point_email">
        <p>您的登录邮箱是：<b>{{email}}</b>，（如果忘记密码或丢失账户，可以通过此邮箱找回）</p>
    </div>
    <div class="other">
        <p>系统将在5秒后返回注册前的页面，如果没有返回请<a href='/'>点击手动跳转</a></p>
        <!--<p>• 或者，您可以<a id="sendMsg" class="action" href="javascript:void(0)">点此重新发送激活邮件</a></p>
        -->
    </div>
    </div>
    {% elif status == 0 %}
    <div class="register">
        <p>该用户已经激活过了</p>
    </div>
    {% else %}
    <div class="register">
        <p>激活失败</p>
    </div>
    {% endif %}

</div>
{% endblock %}


