{% extends "base.html" %}
{% block title %} {{subject.title}}{% endblock %}
{% block content %}  

<div class="content">
	<div  class="subject-detail">
	<div class="subject-item" data-id="{{subject.id}}">
		<div class="subject-votebar">
			{% if subject in user_.vote_subjects.all %}
			<button class="up pressed"  original-title="取消赞"><span class="vote-arrow"></span>取消赞</button>
			{%else%}
			<button class="up"  original-title="赞一个"><span class="vote-arrow"></span>赞同</button>
			{%endif %}
		</div>
		<div class="answer-head">
			<div class="zm-item-answer-author-info">
			<h3 class="zm-item-answer-author-wrap"><a href="{{subject.url}}" target="_blank">
			<strong  class="zu-question-my-bio">{{subject.title}}</strong></a><span class='zm-item-domain'>({{subject.netloc}})</span></h3></div>
		</div>
		<div class="subject-tag">
		{% for tag in subject.tags.all %}<span class="post-tag">{{tag}}</span>{% endfor %}
		</div>
		<div class="subject-detail">{{subject.content|safe}}</div>
		<div class="subject-item-meta clearfix">
			<span>{{subject.votes}} 票</span>
			<span class="answer-date-link-wrap meta-item">{{subject.pub_date|date:"Y-m-d"}}</span>
            <a  href="{% url 'people:index' subject.user.id %}" class="meta-item" >{{subject.user.username}}</a>
			<a href="javascript:;" class="meta-item" name="share">分享</a>
            {% ifequal user_ subject.user %}
            <a href="{% url 'subject:edit' subject.id}" name="edit" class="meta-item zu-autohide edit">修改</a>
			<a href="javascript:;" class="meta-item zu-autohide del" name="delete">删除</a>
            {% else %}
			<a href="javascript:;" class="meta-item  fav" name="report">举报</a>
            {% endifequal %}
		</div>
    </div>
		<div class="zm-item-meta zm-item-comment-el clearfix" id="zh-question-meta-wrap">
		<div class="panel-container panel-border">
			<div class="zm-comment-box" data-count={{subject.comment_count}}>
			<div class="zm-comment-list">
			{% for comment in comments %}
				 <div class="zm-item-comment" data-id="{{comment.id}}">
					 <div class="zm-comment-content-wrap">
					 <div class="zm-comment-hd">
                         <a href="{% url 'people:index' comment.user.id %}" class="zg-link">{{comment.user.username}}</a>
						 {% if comment.comment %}
						 <span class="desc">回复 </span>
                         <a  href="{% url 'people:index' comment.comment.uesr.id %}" class="zg-link" >{{comment.comment.user.username}}</a>
						 {% endif %}
					 </div>
					  
                     <div class="zm-comment-content">
                         {% if comment.comment %}
                         <blockquote>
                             <p>{{comment.comment.content}}</p>
                         </blockquote>
                         {% endif %}
                         <p>{{comment.content}}</p>
                     </div>
					 <div class="zm-comment-ft">
                        {% ifnotequal user_ comment.user %}
						<a href="javascript:;" class="reply zm-comment-op-link" name="reply_comment">回复</a>
						<a href="javascript:;" class="like zm-comment-op-link " name="like_comment">
						{% if user_ not in comment.like_users.all %}赞{% else%} 已赞{%endif%}</a>
						<a href="javascript:;" name="report" class="report zm-comment-op-link">举报</a>
                        {% endifnotequal %}
						<span class="like-num"><em>{{comment.like}}</em> <span>赞</span></span>
                        {% ifequal user_ comment.user %}
						<a href="javascript:;" name="delete" class="delete zm-comment-op-link">删除</a>
                        {% endifequal %}
						<span class="date">{{comment.pub_date|date:"Y-m-d"}}</span>
					 </div>
					 </div>
				 </div>
			{% endfor %}
			</div>
			<div class="zm-comment-form zm-comment-box-ft">
				<div class="zm-comment-editable editable" aria-label="写下你的评论" contenteditable="true">
					<p style="color:#999">写下你的评论</p>
				</div>
				<div class="zm-command zg-clear">
					<a href="javascript:;" name="addnew" id="add_comment" class="zg-right zg-btn-blue">评论</a>
					<a href="javascript:;" name="closeform" class="zm-command-cancel">取消</a>
				</div>
				<div class="zm-comment-info"></div>
			</div>
			</div>
		</div>
		</div>
	</div>
</div>
{% endblock %}


