{% extends "base.html" %}
{% block title %} {{subject.title}}{% endblock %}
{% block content %}  

<div class="content">
	<div  class="subject-detail">
	<div class="subject-item" data-id="{{subject.id}}">
		<div class="subject-votebar">
			{% if subject in user_.vote_subjects.all %}
			<button class="up pressed"  original-title="取消赞"><span class="vote-arrow"></span>取消赞</button>
			{%else%}
			<button class="up"  original-title="赞一个"><span class="vote-arrow"></span>赞同</button>
			{%endif %}
		</div>
		
		<div class="answer-head">
			<div class="zm-item-answer-author-info">
			<h3 class="zm-item-answer-author-wrap"><a href="{{subject.url}}" target="_blank">
			<strong  class="zu-question-my-bio">{{subject.title}}</strong></a><span class='zm-item-domain'>({{subject.netloc}})</span></h3></div>
		</div>
		<div class="subject-tag">
		{% for tag in subject.tags.all %}<span class="post-tag">{{tag}}</span>{% endfor %}
		</div>
    </div>
		<div class="zm-item-meta zm-item-comment-el clearfix" id="zh-question-meta-wrap">
		<div class="panel-container panel-border">
			<div class="zm-comment-box" data-count={{subject.comment_count}}>
			<div class="zm-comment-form zm-comment-box-ft">
				<div class="zm-comment-editable editable" aria-label="写下你的评论" contenteditable="true">
                    {% if subject.content %}
					{{subject.content|safe}}
                    {% else %}
					<p style="color:#999">简要介绍</p>
                    {% endif %}
				</div>
				<div class="zm-command zg-clear">
					<a href="javascript:;" name="addnew" id="subject_edit" class="zg-right zg-btn-blue">保存</a>
					<a href="../" name="closeform" class="zm-command-cancel">取消</a>
				</div>
				<div class="zm-comment-info"></div>
			</div>
			</div>
		</div>
		</div>
	</div>
</div>
{% endblock %}
