{% extends "base.html" %}
{% block title %} gongshare---共同协作 {% endblock %}
{% block content %}  
{% load custom_filter %}

<div class="content">
    {%if query_key %}
        <div class='search-result-head'>
            <h2>“{{query_key}}”的搜索结果：</h2>
        </div>
    {%endif %}
    {% if subject_list %}
	<div id="subject-wrapper" >
	{% for subject in subject_list %}
		<div class="subject-item " data-id="{{subject.id}}">
		 {% ifnotequal subject.user user_ %}
			<div class="subject-votebar">
                {% if subject in user_.vote_subjects.all %}
                    <button class="up pressed"  original-title="取消赞"><span class="vote-arrow"></span>取消赞</button>
                {%else%}
                    <button class="up"  original-title="赞一个"><span class="vote-arrow"></span>赞同</button>
                {%endif %}
			</div>
        {% endifnotequal %}
			<div class="zm-item-vote"><a name="expand" class="zm-item-vote-count" href="javascript:;" data-votecount="4">4</a></div>
			<div class="answer-head">
				<div class="zm-item-answer-author-info">
					<h3 class="zm-item-answer-author-wrap"><a href="{{subject.url}}" target="_blank">
                            <strong  class="zu-question-my-bio">{{subject.title}}</strong></a>
                            <span class='zm-item-domain'>({{subject.netloc}})</span>
					</h3>
				</div>
			</div>
			
			<div class="subject-item-meta zm-item-comment-el answer-actions clearfix">
				<span>{{subject.votes}} 票</span>
				<a  href="#" class="meta-item" target="_blank">{{subject.user.username}}</a>
				<a href="/subject/{{subject.id}}" name="addcomment" class=" meta-item toggle-comment">
                    <i class="z-icon-comment"></i>{% if subject.comment_count %} {{subject.comment_count}}条评论{% else %}添加评论{%endif %}</a>
				<a href="javascript:;" class="meta-item zu-autohide" name="share"><i class="z-icon-share"></i>分享</a>
				<a href="javascript:;" class="meta-item zu-autohide fav" name="favo"><i class="z-icon-collect"></i>收藏</a>
				<a href="javascript:;" class="meta-item zu-autohide fav" name="report"><i class="z-icon-collect"></i>举报</a>

                <span class="answer-date-link-wrap meta-item" title='{{subject.pub_date|date:"Y-m-d H:i"}}'>{{subject.pub_date|timebefore}}</span>
				<span class="copyright zu-autohide"></span>
				
			</div>
		</div>
	  {% endfor %}
	</div>
    {% else %}
    <span style="font-size:14px">╮(╯Д╰)╭，你要的东西还没有呐</span>
    {% endif %}
</div>
<div class="paginator">
    
    {% if subject_list.has_next%}
    <a href="?p={{subject_list.next_page_number}}">更多</a>
    {% endif %}
</div>

{% endblock %}
