{% extends "base.html" %}
{% block title %}gongshare Python编程 发现 分享 传播 技术{% endblock %}
{% block content %}  
{% load custom_filter %}

{% if home %}
<div class="horizontal_tabs feed_switcher">
    <ul class="list_contents">
        <li class="tab linked_list_item first"><a class="link {%if not recent %}selected {%endif%}" href="{% url 'subject:hot' %}">热门资源</a></li>
    <li class="tab linked_list_item"><a class="link {%if recent %}selected {%endif %}" href="{% url 'subject:recent' %}">最近资源</a></li>
	</ul>
<div class="e_col side_col above_feed_add_q_button">
	<a class="button button-primary button-share icon-button" href="#" style="margin-top: -13px;">
	<span class="has_icon_link icon_add_question" >发布资源</span></a></div>
</div>
{% endif %}

<div class="content">
    {%if query_key %}
    <div class='search-result-head'><h2>“{{query_key}}”的搜索结果{% if count > 0 %}共{{count}}条{%endif %}：</h2></div>
    {%endif %}
	{% if subject_list %}
	<div id="subject-wrapper" >
	{% for subject in subject_list %}
		<div class="subject-item " data-id="{{subject.id}}">
        {% ifnotequal subject.user user_ %}
			<div class="subject-votebar">
            {% if subject in user_.vote_subjects.all %}
            <button class="up pressed"  original-title="取消赞"><span class="vote-arrow"></span>取消赞</button>
            {%else%}
            <button class="up"  original-title="赞一个"><span class="vote-arrow"></span>赞同</button>
            {%endif %}
			</div>
        {% endifnotequal %}
		    <div class="answer-head">
				<div class="zm-item-answer-author-info"><h3 class="zm-item-answer-author-wrap">
                <a href="{{subject.url}}" target="_blank">
                <strong  class="zu-question-my-bio">{{subject.title}}</strong></a>
                <span class='zm-item-domain'>({{subject.netloc}})</span></h3>
				</div>
			</div>
			<div class="subject-item-meta zm-item-comment-el answer-actions clearfix">
				<span>{{subject.votes}}票</span>
                <a  href="{% url 'people:index' subject.user.id %}" class="meta-item" >{{subject.user.username}}</a> 
                <a href=" {% url 'subject:detail' subject.id %}" name="addcomment" class=" meta-item toggle-comment">
				{% if subject.comment_count %} {{subject.comment_count}}条评论{% else %}评论{%endif %}</a>
				<a href="javascript:;" class="meta-item zu-autohide" name="share">分享</a>
                {% ifequal user_ subject.user %}
                <a href="{% url 'subject:edit' subject.id %}" class="meta-item zu-autohide edit" name="edit">修改</a>
				<a href="javascript:;" class="meta-item zu-autohide del" name="delete">删除</a>
                {% else %}
                <a href="javascript:;" class="meta-item zu-autohide fav" name="report">举报</a>
                {% endifequal %}
				<span class="answer-date-link-wrap meta-item" title='{{subject.pub_date|date:"Y-m-d H:i"}}'>
				{{subject.pub_date|timebefore}}</span>
				<span class="copyright zu-autohide"></span>
			</div>
		</div>
	  {% endfor %}
	</div>
	{% else %}
    <span style="font-size:14px">OHOH，找不到东东</span>
    {% endif %}

</div>
<div class="paginator">
    {% if subject_list.has_next%}
    <a href="?p={{subject_list.next_page_number}}">更多</a>
    {% endif %}
</div>

{% endblock %}
